#pandas
#xbbg
#index-url=https://bcms.bloomberg.com/pip/simple blpapi
index-url=https://bcms.bloomberg.com/pip/simple blpapi
#python -m pip install --index-url=https://bcms.bloomberg.com/pip/simple blpapi